nav {
  background-color: black;
}

body {
  background-color: black;
}

.row {
    margin: 0 !important;
}

#floater {
  position:absolute;
  width: 300px;
  padding: 15px;
  left:15px;
  top:80px;
  background-color: white;
  opacity: .7;
}

#floater2 {
  position:absolute;
  width: 300px;
  padding: 20px;
  left:20px;
  top:280px;
  background-color: white;
  opacity: .7;
}

#labels {
  color: #C9DEF1;
  font-size: 1.2em;
}

.ppcont{
  width:320px;
}

#map {
  height: 800px;
}
